<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <p><strong>Date of Birth:</strong> {{ social_user.date_of_birth }}</p>
        {% if social_user.avatar %}
        <img src="{{ social_user.avatar.url }}" alt="Avatar">
        {% endif %}
    {% endif %}
    <a href="{% url 'view_posts' social_user.id %}"> Posts from {{social_user}} </a>
    
    <a href="{% url 'user_comments' social_user.id %}"> Comments from {{social_user}} </a>
</body>
</html>


